# Google Gemini API Key (Get it from Google AI Studio: https://aistudio.google.com/)
GEMINI_API_KEY=
GEMINI_MODEL=

# Tavily Search API Key (Get it from Tavily: https://tavily.com/)
TAVILY_API_KEY=

# Local search caching during development (set to false to force live api calls)
USE_CACHE=true
